@namespace Oqtane.ChatHubs

@using System.Text.Json

@inherits EditBase

<table class="form-group">
    <tr>
        <td>
            <label for="Title" class="control-label">Title: </label>
        </td>
        <td>
            <input type="text" class="form-control" @bind="@title" />
        </td>
    </tr>
    <tr>
        <td>
            <label for="Content" class="control-label">Content: </label>
        </td>
        <td>
            <textarea class="form-control" @bind="@content" cols="40" rows="5"></textarea>
        </td>
    </tr>
    <tr>
        <td>
            <label for="Content" class="control-label">Image: </label>
        </td>
        <td>
            @if (!string.IsNullOrEmpty(imageUrl))
            {
                <img class="img-thumbnail" width="200" height="200" src="@string.Format("{0}/modules/oqtane.chathubs/images/rooms/{1}", NavigationManager.BaseUri, imageUrl)" alt="Profile Image" />
            }

            <input type="file" @ref=inputElement />
            <button @onclick=ReadFile class="btn btn-primary">Read file</button>
            <button @onclick=ClearFile class="btn btn-primary">Clear</button>

            <br />
        </td>
    </tr>
</table>
<button type="button" class="btn btn-success" @onclick="@SaveRoom">Save</button>
<NavLink class="btn btn-secondary" href="@NavigateUrl()">Cancel</NavLink>
<br />
<br />
<AuditInfo CreatedBy="@createdby" CreatedOn="@createdon" ModifiedBy="@modifiedby" ModifiedOn="@modifiedon"></AuditInfo>