@namespace Oqtane.ChatHubs

@inherits SettingsModalBase

    <BSModal @ref="CenteredBSModal" IsCentered="true">
        <BSModalHeader OnClick="@BSModalOnToggle">Profil/Einstellungen</BSModalHeader>
        <BSModalBody>

            <BSTabGroup>
                <BSTabList>

                    <BSTab>
                        <BSTabLabel>Profile Info</BSTabLabel>
                        <BSTabContent>

                            <div class="p-sm-3">
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                            </div>

                        </BSTabContent>
                    </BSTab>

                    <BSTab>
                        <BSTabLabel><div><span class="oi oi-shield"></span> (@ChatHubService.IgnoredUsers?.Count())</div></BSTabLabel>
                        <BSTabContent>

                            <div class="p-sm-3">

                                <h5>Ignoliste</h5>

                                @if (ChatHubService.IgnoredUsers == null || !ChatHubService.IgnoredUsers.Any())
                                {
                                    <div class="alert alert-info"><small>Noch Niemanden gefunden bislang..</small></div>
                                }
                                else
                                {
                                    <table class="table table-sm">
                                        <tbody>
                                            @foreach (var ignoredUser in ChatHubService.IgnoredUsers)
                                            {

                                                <tr>
                                                    <td>@ignoredUser.DisplayName</td>
                                                    <td>
                                                        <button type="button" class="btn btn-sm btn-link" @onclick="() => ChatHubService.UnignoreUser_Clicked(ignoredUser.Username)">
                                                            <span class="oi oi-x"></span>
                                                        </button>
                                                    </td>
                                                </tr>

                                            }
                                        </tbody>
                                    </table>
                                }

                            </div>

                        </BSTabContent>
                    </BSTab>

                    <BSTab>
                        <BSTabLabel><div><span class="oi oi-bug"></span> (@ChatHubService.IgnoredByUsers?.Count())</div></BSTabLabel>
                        <BSTabContent>

                            <div class="p-sm-3">

                                <h5>Ignoriert von Liste</h5>

                                @if (ChatHubService.IgnoredByUsers == null || !ChatHubService.IgnoredByUsers.Any())
                                {
                                    <div class="alert alert-info"><small>Noch Niemanden gefunden bislang..</small></div>
                                }
                                else
                                {
                                    @foreach (var ignoredByUser in ChatHubService.IgnoredByUsers)
                                    {
                                        <div>@ignoredByUser.DisplayName</div>
                                    }
                                }

                            </div>

                        </BSTabContent>
                    </BSTab>
                </BSTabList>
                <BSTabSelectedContent />

            </BSTabGroup>
        </BSModalBody>
        <BSModalFooter>
            <BSButton Color="Color.Link" @onclick="@BSModalOnToggle">Close</BSButton>
        </BSModalFooter>
    </BSModal>